#Abox {
	display: flex;
	font: times new roman;
    justify-content: center;
}





div.a {
	display: left;
	margin: auto;
	width: 30%;
	border: 1px solid;
	padding: 30px;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	min-height: 40vh;
	
}
div.ss{
display:left;
}


div.c{
	display:left;
}



div.m{
	display:left;
	
}
div.z{
	display: ;
	

}

div.b{
	



}
div.b{
	height: 200px;
	width: 200px;
    display: flex;
	padding:1px;
    justify-content: center;
   align-items: center;

  


}





