


#Abox {
    display: block;
    font: times new roman;
    
}

div.a {
    border: 1px solid;
    outline: 3px;
  width: 400px;
  height: 400px;  
  padding: 50px;
  align-self: auto;
  
}


#Abox{
    margin-top: 1rem;
    padding:10px; border: 20px;
    
}

